name: Build & Deploy to Firebase Hosting
"on":
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Config & Build
        uses: subosito/flutter-action@v1
        with:
          channel: stable
      - run: |
          flutter config --enable-web
          cd "Source Code/website"
          flutter pub get
          flutter build web --release

      - name: Deploy
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          entryPoint: "Source Code/website"
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_PERSONAL_WEBSITE37 }}"
          projectId: personal-website--avishek-lodh
          channelId: live
